*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-width: 1200px;
}

.myheader{
    height: 70px;
    background-color: #ED242E;
}

.gt{
    list-style: none;
    font-size: 18px;
    color: white;
}

.guy{
    background-color: #031329;
}

.sect1{
    background-image: url('./banner.png');
    /* height: 650px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.mine{
    /* height: 400px; */
    width: 600px;
    margin-left: 93px;
    margin-bottom: 75px;
}
.mine h2{
    font-size: 90px;
    color: white;
    font-weight: 700;
    line-height: 0.9;
}

.gy{
    background-color: #F4F4F4 !important;
    color: black !important;
}

.gy:hover{
    background-color: red !important;
    color: white !important;
}

.sect1 .carousel-control-prev-icon{
    height: 60px;
    width: 57px;
    border-radius: 30px;
    background-color: red;

    
}

.sect1 .carousel-control-next-icon{
    height:60px;
    width: 57px;
    border-radius: 30px;
    background-color: red;
}

.sect2{
    height: 800px;
    background-color:#f3efef;
}

.goli{
    /* height: 400px; */
    background-color: white;
    border-radius: 40px;
    position: relative;
    bottom: 64px;

}
.coror{
    height: 385px;
}

.myh{
    height: 12px;
    background-color: red;
    border-radius: 20px;
    width: 103px;
}

.goli h1{
    color: #353d47;
    font-weight: 900;
    font-size: 51px;
}

.goli p{
    font-weight: 400;
    font-size: 17px;
    color: black;
    line-height: 1.8;
}

.readmore{
    background-color: #09254D;
    height: 70px;
    width:70%;
    color: white;
    border: 2px solid #09254D;
    font-weight: 800;

}

.byt::before{
    content : "";
    background-image: url('./log.png');
    
    
}

.gate{
    color: #353d47;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;

}
.lo{
    margin-top: 50px;
}



.jojo{
    text-transform: uppercase;
    font-size: 45px;
    color: #353d47;
    font-weight: 700;
}

.jojo p{
    color: red;
}

.sect6{
    height: 450px;
    background-color: #f3efef;
}

.jumi{
    background-image: url('jumi2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 400px;
    width: 90%;
    border-radius:70px;
    margin-left: 70px;

}

.box1{
    height: 268px;
    background-color:#f3efef;;
    width: 361px;
    border-radius: 25px;
    position: relative;
    top: 44px;
    left:36px;
}
.box1 p{
    font-size: 14px;
    font-weight: 500;
}

.case{
    height: 500px;
    width: 360px;
    background-color: white;
    border: 2px solid white;
}

.read{
    background-color: #09254D;
    height: 60px;
    width:44%;
    color: white;
    border: 2px solid #09254D;
    font-weight: 800;
    position: relative;
    bottom: 108px;
    left: 115px;

}

.nostrud{
    position: relative;
}

.nostrud::before{
    position: absolute;
    content: "";
    left: 130px;
    right: 0;
    bottom: -40;
    width: 80px;
    height: 81px;
    text-align: center;
    margin: o auto;
    background: url('./lgo.png');
}

.sect09{
    height: 600px;
    background-color: #f3efef;
}

.mycolor{
    background-color: #f3efef;

}

.bond{
    height: 300px;
    background-image: url('./po.jpeg');
    background-position: top;

}

.grt {
    background-color: #f8f8f800;
    width: 90%;
    height: 80px;
    border-radius: 30px;
    border: 6px solid white;

}


::placeholder {
    color: white;
    font-weight: 900;
    padding-left: 20px;
    
    opacity: 1; /* Firefox */
  }

  .lop{
      font-size: 30px;
      height: 82px;
      width: 43%;
      background-color: #0a264a;
      border-radius: 25px;
      border: none;
      margin-top: 27px;
      color: white;
      font-weight: 600;
  }

  .myfoot{
      /* height: 300px; */
      background-color: black;
      padding-top: 49px;
  }

  .myfoot ul{
      color: #979793;
      list-style: none;
  }

  .myfoot p{
      color: white;
      padding: 23px;
  }


  .myfoot h5{
      font-size: 25px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      padding-left: 32px;
      padding-bottom: 40px;
  }